<% if @user == current_user %>

	<div class="main-link container">
		<%= link_to (image_tag 'Firenza-Pizza-Logo.png'), home_path %>
		<br><br><%= link_to 'View main page', home_path, :class => "btn btn-default" %>
		<br><br><%= link_to 'View list of inquiries', inquiries_path, :class => "btn btn-default"  %>
	</div>

<% else %>

	<div class="no-access container">
		<h4>Please <%= link_to 'log in', login_path %> to access this page.</h4>
	</div>

<% end %>
