<%= render 'nav' %>

<% if @user == current_user %>

	<%= link_to 'View main page', %>

<% else %>

	<div class="no-access container">
		<h4>Please <%= link_to 'log in', login_path %> to access this page.</h4>
	</div>

<% end %>
