<%= render 'pages/nav' %>

<% if @user == current_user %>

	<div class="main-link container">
		<%= link_to (image_tag 'default.png'), home_path %>
		<%= link_to 'View main page', home_path %>
	</div>

<% else %>

	<div class="no-access container">
		<h4>Please <%= link_to 'log in', login_path %> to access this page.</h4>
	</div>

<% end %>
