<%= render 'nav' %>

<% if @user == current_user %>

	<div class="slide" id="main">
		<%= render 'main' %>
	</div>

	<div class="slide" id="contact">
		<%= render 'form' %>
	</div>

<% else %>

	<h4>Please <%= link_to 'log in', login_path %> to access this page.</h4>

<% end %>
