<%= render 'nav' %>

<% if @user == current_user %>
	
	<h1>Users#show</h1>
	<p>Find me in app/views/users/show.html.erb</p>

<% else %>

	<h4>Please <%= link_to 'log in', login_path %> to access this page.</h4>

<% end %>
