<h1 class="center">Want more information?</h1>

<h4 class="center">Fill out the form below and we will contact you shortly.</h4>

<h6 class="center"><em>All fields are required.</em></h6>

<%= render 'inquiries/form' %>