<h1 class="center">Gallery</h1>
<div class="col-lg-12 container">
	<div class="col-sm-5">
		<h3 class="center">Photos</h3>
		<%= link_to photos_path do %>
			<div class="thumbnail" id="photos">
			</div>
		<% end %>
	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-5">
		<h3 class="center">Videos</h3>
		<%= link_to videos_path do %>
			<div class="thumbnail" id="videos">
			</div>
		<% end %>
	</div>
</div>