<h1 class="center">Firenza Leadership</h1>
<br>
<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Dave Wood | CEO</h5>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Dave Baer | President</h5>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Steve Schreiber | Director of Operations</h5>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Christopher Lynne | Director of Marketing</h5>
	</div>
	<div class="col-md-1"></div>
</div>