<h1 class="center">Firenza Leadership</h1>
<br>
<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Dave Wood | CEO</h5>
		<%= image_tag 'davew_thumb.png', :title => "Dave Wood headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Dave Baer | President</h5>
		<%= image_tag 'daveb_thumb.png', :title => "Dave Baer headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Steve Schreiber | Director of Operations</h5>
		<%= image_tag 'steve_thumb.png', :title => "Steve Schreiber headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="col-md-3">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h5 class="center">Christopher Lynne | Director of Marketing</h5>
		<%= image_tag 'chris_thumb.png', :title => "Christopher Lynne headshot" %>
	</div>
	<div class="col-md-1"></div>
</div>