<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<% if current_user %>
				<p class="nav navbar-nav navbar-left">
					Logged in as: <%= link_to current_user.name, user_path(current_user), :class => "btn btn-default"  %> <%= link_to 'Log Out', logout_path, method: :delete, :class => "btn btn-default" %>
					<em>This navigation bar will not be included in the live site.</em>
				</p>
				<!-- <ul class="nav navbar-nav navbar-right">
					<li><a href="#main">Main</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jump to... <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#contact">Contact</a></li>
							<li><a href="#stats">Statistics</a></li>
							<li><a href="#process">Process</a></li>
							<li><a href="#ready">Ready</a></li>
						</ul>
					</li>
				</ul> -->
			<% end %>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>