<div class="center">
	<h2>Our Process</h2>

	<ul class="process-list">
		<li>Fill out contact form <a href="#contact">here</a>.</li>
		<li>Introduction phone call with Firenza</li>
		<li>Complete full franchise application</li>
		<li>Face-to-face meeting with the Firenza team</li>
		<li>Sign franchise agreement and open your first Firenza Pizza!</li>
	</ul>
</div>