/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

nav > div > div > p {
	padding-top: 14px;
}

body {
	color: black;
}

.no-access {
	margin-top: 50px;
}

.main-link {
	width: 181px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;
}

.main-link > a > img {
	width: 100px;
}

.down {
	margin-top: 33px;
}

.slight-down {
	padding-top: 14px;
	background-color: #E4332E;
}

.top {
	text-align: right;
	margin-right: 30px;
	margin-bottom: -50px;
	/*margin-top: 50px;*/
}

.cushion {
	height: 45px;
}

/*.btn-firenza {
	background-color: #E4332E;
	border-color: #E4332E;
	margin-top: 25px;
	margin-right: 15px;
	float: right;
}

.btn-firenza > a {
	color: white;
	font-size: 20px;
}

.btn-firenza:hover {
	background-color: #E4332E;
	border-color: #E4332E;
}*/

.slide {
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.right {
	text-align: right;
	padding-right: 3vw;
}

.center {
	text-align: center;
}

.center > a, .center > a:hover {
	color: black;
}

.up {
	margin-top: 0px;
}

.large {
	width: 400px;
	height: 150px;
}

.inquiry-form {
	width: 200px;
}

.inquiry-form-small {
	width: 80px;
}

.container-fluid > form {
	width: 153px;
	margin-top: 5vh;
	margin-right: auto;
	margin-left: auto;
}

.process-list {
	list-style: none;
}

.process-list > li {
	font-size: 20px;
	margin-top: 10px;
	/*display: inline;*/
}

.process-list > li > img {
	max-height: 10vw;
	display: inline;
}

.page-footer {
	background-color: #E4332E;
	margin-top: -5vh;
	padding-bottom: 5vh;
	color: white;
}

.page-footer > h6 > a {
	color: white;
}

.orange {
	background-color: #E4332E;
	overflow: scroll;
	background-image: url('Firenza-Pizza-Logo.png');
	background-repeat: x-repeat;
}

.video {
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
}

.gallery-footer {
	background-color: #E4332E;
	width: 100%;
	color: white;
	padding-bottom: 5vh;
}

.inquiry-footer {
	background-color: #E4332E;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}

.inquiry-footer > h6 > a, .gallery-footer > h6 > a {
	color: white;
}

.thumbnail {
	height: 300px;
	background-size: 100%;
	border: none;
	border-radius: 10px;
}

.thumbnail:hover {
	opacity: 0.5;
}

.carousel-inner > .item > img {
	height: 90vh;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

#photos {
	background-image: url('Photo_Thumbnail.png');
}

#videos {
	background-image: url('Video_Thumbnail.png');
}

#process, #process1 {
	background-image: url(background.png);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

#new-inquiry {
	text-align: center;
	background-image: url('Firenza-Pizza-Logo.png');
	background-color: #E4332E;
	background-repeat: x-repeat;
	height: 100vh;
}

#main, #gallery {
	margin-bottom: -10vh;
}

#gallery {
	margin-top: -5vh;
}

#main > img, #main1 > img, #concept > a > img, #concept1 > a > img, #stats > img, #stats1 > img, #ready > a > img, #ready1 > a > img {
	width: 100vw;
	margin: auto;
}

#contact, #contact1 {
	background-image: url('Firenza-Pizza-Logo.png');
	background-repeat: x-repeat;
}






