<% if current_user %>

	<div class="container-fluid down">

		<h1>Want more information?</h1>

		<h4>Fill out the form below and we will contact you shortly.</h4>

		<h6><em>All fields are required.</em></h6>

		<%= render 'form' %>

	</div>

<% else %>

	<div class="no-access container">
		<h4>Please <%= link_to 'log in', login_path %> to access this page.</h4>
	</div>

<% end %>


